#Hero-Section {
    background-image: url("../img/salto-huilo-huilo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
}

.subtitulo {
    list-style-type: none;
}

#destacados .image-top {
    background-color: #DC3545;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

#Contacto form label {
    font-weight: 700;
    color: #fff;

}

#Contacto {
    background-color: #DC3545;
    width: 100%;
    height: 702px;


}